<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Api amoCRM</title>
	<script type="module" crossorigin src="/assets/index-884e643d.js"></script>
	<link rel="stylesheet" href="/assets/index-d5fecc9f.css">
</head>
<body>
	<div id="app"></div>
</body>
</html>
